body{font-family:Oxygen;color:#444}
.facebook-icon,.twitter-icon,.pinterest-icon,.tumblr-icon{height:35px;width:35px;display:inline-block;background-position:50%;margin:2px}
.facebook-icon{background-image:url("/static/images/icons/facebook.png")}
.twitter-icon{background-image:url("/static/images/icons/twitter.png")}
.pinterest-icon{background-image:url("/static/images/icons/pinterest.png")}
.tumblr-icon{background-image:url("/static/images/icons/tumblr.png")}
.facebook-icon:hover{background-image:url("/static/images/icons/facebook-active.png")}
.twitter-icon:hover{background-image:url("/static/images/icons/twitter-active.png")}
.pinterest-icon:hover{background-image:url("/static/images/icons/pinterest-active.png")}
.tumblr-icon:hover{background-image:url("/static/images/icons/tumblr-active.png")}
select{border:1px solid #6495ed}
.container{position:relative;max-width:1200px;min-width:800px;min-height:620px;margin:10px 30px;font-family:Oxygen;font-size:13px;color:#333;}
.container .bread-crumb{padding-bottom:12px;}
.container .bread-crumb a{color:#797979;text-decoration:none}
.container .logo-container .logo-img{width:120px;height:80px;margin-top:-20px}
.container .logo-container .header{display:inline-block;font-size:50px;margin:0 10px 5px;vertical-align:top}
.container .top-right-space{position:absolute;top:0;right:0;text-align:right}
.container .main-nav-bar{background-image:url("/static/images/green-watercolor.png");background-size:100% 100%;background-repeat:no-repeat;height:80px;width:100%;margin:0 auto;position:relative;}
.container .main-nav-bar .nav-inner-container{margin:auto;width:100%;height:50%;position:absolute;top:0;bottom:0;left:0;right:0;height:50%}
.container .main-nav-bar .nav-list{list-style:none;font-weight:bold;margin-bottom:10px;position:relative;z-index:5;padding:0;margin:0;text-align:center;}
.container .main-nav-bar .nav-list .nav-item{display:inline-block;position:relative;margin:0 40px;}
.container .main-nav-bar .nav-list .nav-item:hover .nav-sub-list{left:0;padding:5px;margin-left:-10px}
.container .main-nav-bar .nav-list .nav-link{font-size:24px;font-weight:100;background:rgba(0,0,0,0);}
.container .main-nav-bar .nav-list .nav-link:hover{text-decoration:none}
.nav-item:hover .container .main-nav-bar .nav-list .nav-link{color:#444}
.container .main-nav-bar .nav-list .nav-sub-list{background:rgba(240,240,240,0.8);border:1px solid rgba(0,0,0,0.15);border-bottom-left-radius:10px;border-bottom-right-radius:10px;list-style:none;position:absolute;left:-9999px;padding:0;margin:0;}
.container .main-nav-bar .nav-list .nav-sub-list .nav-sub-list-item{padding-top:1px;margin:0;padding:0}
.container .main-nav-bar .nav-list .nav-sub-list .nav-sub-list-link{white-space:nowrap;font-size:17px;text-align:left;color:#868f98;text-decoration:none;padding:2px 0;display:block;font-weight:200;}
.nav-item:hover .container .main-nav-bar .nav-list .nav-sub-list .nav-sub-list-link{text-decoration:none}
.container .footer-dividing-line{width:100%;height:30px;background:url("/static/images/footer-graphic.png") repeat-x top;background-size:contain;margin:10px 0}
.container .footer-list{width:100%;padding:10px 32px 25px;box-sizing:border-box;}
.container .footer-list .signup-container{box-sizing:border-box;display:inline-block;width:55%;text-align:right}
.container .footer-list .company-list,.container .footer-list .service-list,.container .footer-list .connect-section{box-sizing:border-box;display:inline-block;width:15%;vertical-align:top;}
.container .copyright-container{border-top:2px solid #e0e0e0;background:#f1f5f8;}
.container .copyright-container .copyright-inner{padding:15px 0 15px 20px}
.cart-modal-container{position:fixed;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,0.4);opacity:0;pointer-events:none;}
.cart-modal-container.active{opacity:1;z-index:99;pointer-events:auto}
.cart-modal-container .cart-outer-container{position:absolute;top:0;left:0;right:0;bottom:0}
.cart-modal-container .cart-inner-container{overflow:auto;position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;height:95%;width:80%;max-width:850px;background:#fff;box-shadow:0 0 8px 4px rgba(0,0,0,0.15);border:2px solid rgba(0,0,0,0.65);transition:1s ease-in-out;}
.cart-modal-container .cart-inner-container.slide{-moz-transform:translate(-105%,0);-webkit-transform:translate(-105%,0);-o-transform:translate(-105%,0);-ms-transform:translate(-105%,0);-khtml-transform:translate(-105%,0);transform:translate(-105%,0);opacity:0}
.cart-modal-container .cart-header{margin:6px;text-align:center;font-size:20px}
.cart-modal-container .cart-subheaders{margin:10px 0;border-top:1px solid rgba(0,0,0,0.15);border-bottom:1px solid rgba(0,0,0,0.15);padding:10px;}
.cart-modal-container .cart-subheaders .subheader-item{width:40%;margin-left:80px;margin-right:35px;display:inline-block;text-align:center}
.cart-modal-container .cart-subheaders .subheader-price{margin-left:25px}
.cart-modal-container .cart-item{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid rgba(0,0,0,0.15);position:relative;}
.cart-modal-container .cart-item .cart-thumbnail{height:100px;width:100px;margin-left:10px;background-size:cover;background-position:top center;display:inline-block;vertical-align:middle}
.cart-modal-container .cart-item .cart-item-details{display:inline-block;vertical-align:middle;width:40%;}
.cart-modal-container .cart-item .cart-item-details .cart-item-title{vertical-align:middle;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin-left:5px;font-size:13px}
.cart-modal-container .cart-item .cart-item-details .cart-item-options{vertical-align:middle;text-align:center;font-size:13px;}
.cart-modal-container .cart-item .cart-item-details .cart-item-options .cart-color-box{background:#ffc0cb;width:13px;height:13px;display:inline-block;vertical-align:middle;margin:0 5px}
.cart-modal-container .cart-item .cart-item-quantity{display:inline-block;width:70px;text-align:center}
.cart-modal-container .cart-item .cart-item-price{display:inline-block;width:45px;margin-left:20px;text-align:center}
.cart-modal-container .cart-item .cart-remove-item{position:absolute;right:50px;top:50%;margin-top:-1em;background-image:url("/static/images/icons/trash.png");background-size:cover;height:20px;width:20px;cursor:pointer;opacity:.6;}
.cart-modal-container .cart-item .cart-remove-item:hover{opacity:1}
.cart-modal-container .cart-total{text-align:right;padding-right:30px;font-weight:bold;font-size:18px}
.cart-modal-container .cart-shipping,.cart-modal-container .cart-subtotal{text-align:right;padding-right:30px;font-weight:bold;font-size:16px}
.cart-modal-container .total-price{width:50px;display:inline-block}
.cart-modal-container .checkout-button{text-align:center;width:auto;position:absolute;right:30px;margin-top:14px;background:#14ab52;padding:8px 26px;color:#eee;font-size:16px;}
.cart-modal-container .checkout-button:hover{opacity:.8;cursor:pointer}
.cart-modal-container .checkout-inner-container{overflow:auto;position:absolute;margin:auto;top:0;bottom:0;left:0;right:0;height:95%;width:80%;max-width:850px;background:#fff;box-shadow:0 0 8px 4px rgba(0,0,0,0.15);border:2px solid rgba(0,0,0,0.65);transition:1s ease-in-out;-moz-transform:translate(105%,0);-webkit-transform:translate(105%,0);-o-transform:translate(105%,0);-ms-transform:translate(105%,0);-khtml-transform:translate(105%,0);transform:translate(105%,0);opacity:0;font-size:14px;}
.cart-modal-container .checkout-inner-container.slide{-moz-transform:translate(0,0);-webkit-transform:translate(0,0);-o-transform:translate(0,0);-ms-transform:translate(0,0);-khtml-transform:translate(0,0);transform:translate(0,0);opacity:1}
.cart-modal-container .checkout-inner-container .left-panel,.cart-modal-container .checkout-inner-container .right-panel{width:49%;display:inline-block;vertical-align:top;min-width:320px}
.cart-modal-container .checkout-inner-container form{width:320px;display:block;margin:0 auto}
.cart-modal-container .checkout-inner-container .form-title{text-decoration:underline;margin-left:10px;margin-top:15px;margin-bottom:15px}
.cart-modal-container .checkout-inner-container .shipping-form input{width:160px}
.cart-modal-container .checkout-inner-container .field-container{margin:8px}
.cart-modal-container .checkout-inner-container input{box-shadow:inset 0 1px 0 rgba(0,0,0,0.1),0 1px 1px rgba(255,255,255,0.15);border:1px solid #cfcfcf;outline:none;}
.cart-modal-container .checkout-inner-container input:focus{border-color:#aaa}
.cart-modal-container .checkout-inner-container input.ng-invalid.ng-dirty{box-shadow:0 0 2px 1px #fa787e}
.cart-modal-container .checkout-inner-container input.ng-valid.ng-dirty{box-shadow:0 0 2px 1px #00cc1b}
.cart-modal-container .checkout-inner-container label{width:auto;display:inline-block;min-width:115px}
.cart-modal-container .checkout-inner-container .payment-form .payment-errors{display:none}
.cart-modal-container .checkout-inner-container .payment-form span{margin-right:10px}
.products-page{padding:20px;}
.products-page .products-navigation .bread-crumbs,.products-page .products-navigation .pagination{display:inline-block;width:50%;margin:0;padding:0;height:3em;vertical-align:top;font-size:14px}
.products-page .products-navigation .pagination{text-align:right}
.products-page .filter-container .sort-by-container,.products-page .filter-container .size-filter-container{display:inline-block;padding-right:14px}
.products-page .filter-container .size-filter-container{padding-left:14px;border-left:1px solid rgba(0,0,0,0.15)}
.products-page .filter-container .sort-label{display:inline-block;margin:0 10px 0 0}
.products-page .filter-container .size-filter-selector{display:inline-block}
.products-page .filter-container .size-filter-item{padding:4px 8px;margin:0 4px;background:#b0c4de;cursor:pointer;min-width:14px;display:inline-block;text-align:center;}
.products-page .filter-container .size-filter-item.active{background:#6495ed}
.products-page .filter-container .filter-reset{padding:4px 8px;background:#008b8b;color:#fff;border-radius:4px;cursor:pointer;text-decoration:none;opacity:1;transition:opacity .3s ease-in-out;}
.ie .products-page .filter-container .filter-reset{display:none}
.products-page .filter-container .filter-reset.fade{opacity:0}
.product-page .product-images-container{width:44%;display:inline-block;padding:15px 15px 15px 0;box-sizing:border-box;}
.product-page .product-images-container .product-main-image img{height:auto;max-width:100%}
.product-page .product-images-container .product-thumbnail{display:inline-block;}
.product-page .product-images-container .product-thumbnail img{height:90px}
.product-page .product-details-container{width:55%;display:inline-block;vertical-align:top;padding:15px 0 0 0;box-sizing:border-box;}
.product-page .product-details-container .product-title h1{display:inline-block;line-height:normal;padding:0;margin:0 0 20px 0}
.product-page .product-choice-container{background:#efeeed;}
.product-page .product-choice-container .product-choice-inner{position:relative;padding:15px 25px 0}
.product-page .product-choice-container .share-container{position:absolute;right:10px;top:124px}
.product-page .product-choice-container .choice-label{margin-top:0}
.product-page .product-choice-container .color-option,.product-page .product-choice-container .size-option{height:30px;width:30px;display:inline-block;border:1px solid rgba(0,0,0,0);cursor:pointer;margin:2px;}
.product-page .product-choice-container .color-option.active,.product-page .product-choice-container .size-option.active{border:1px solid rgba(10,10,10,0.8)}
.product-page .product-choice-container .cart-container{position:absolute;text-align:right;top:50px;right:10px}
.product-page .product-choice-container .add-to-cart{height:32px;width:150px;background:#f16666;color:#fff;line-height:32px;text-align:center;opacity:.5;}
.product-page .product-choice-container .add-to-cart.active{opacity:1;cursor:pointer}
