<!DOCTYPE html>
<html>
<head>
  <title>{{product.name}} - {{product.price}}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="Seven Blooms Ruffled Fitted Jacket Blazer with High Collar and Princess Cut - This jacket is constructed with dozens of pattern pieces, and is completely lined! Wear it on casual days or as a more formal blazer for work. Only the best fabrics are used for this piece: an outer consisting of a textured linen, and a lining made of soft cotton voile." name="description">
  <link href="{{product.get_url}}" rel="canonical">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
  <script src="/static/js/vendor/jquery.js"></script>

  <style>
    .proDesRightBar {
      margin-top: 30px;
    }
  </style>
  {% block head %}
  {% endblock %}
</head>

<body id="productinfoBody">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/static/images/logo-graphic.png" width="320">
        <span>Kulayan</span>
        <!--
          <img src="/static/images/7th-Bloom.jpg" alt="Seven Blooms" width="320" height="130" border="0">
        -->
      </a>
    </div>
    <div class="top-right-space">
      <div class="top-utils">
        <span class="shopping-cart">Cart (1)</span>
        <span class="cart-icon"></span>
      </div>
      <div class="free-shipping">
        FREE SHIPPING ON ORDERS OVER $100
      </div>
    </div>
    <div class="main-nav-bg">
      <div class="navigationSpaceHome">
        <ul id="nav" class="navigation">
          <li>
            <a href="/shop/" class="">Clothes</a>
            <ul>
  {% for category in categories %}
              <li class="leftCat">
                <a class="category-top" href="{{category.get_url}}">{{category.name}}</a>
              </li>
  {% endfor %}
            </ul>
          </li>
          <li><a href="#" class="">Accessories</a></li>
          <li><a href="/blog/" class="">Blog</a></li>
          <li><a href="/about/" class="">About</a></li>
        </ul>
      </div>
    </div>
{% block main %}
{% endblock %}

    <div class="btmDividingLine">
      &nbsp;
    </div>

    <div class="down">
      <div class="btmLeftBar">
        <div class="down bgBtmThreeNav">
          <ul class="BtmThreeNav">
            <li>
              <a href=
              "/web/20130219175554/http://kulayan.com/index.php?main_page=page&amp;id=18">
              Track Order</a>
            </li>

            <li>
              <a href=
              "/web/20130219175554/http://kulayan.com/index.php?main_page=page&amp;id=17">
              Composition and Fit</a>
            </li>

            <li>
              <a href=
              "/web/20130219175554/http://kulayan.com/index.php?main_page=page&amp;id=16">
              Returns</a>
            </li>
          </ul>
        </div>

        <div class="down" style="text-align: center">
          &nbsp;<a href=
          "/web/20130219175554/http://kulayan.com/index.php?main_page=page&amp;id=20"><img alt="Free Shipping"
          border="0" height="51" src=
          "/static/images/free_shipping.jpg"
          width="217"></a>
        </div>
      </div>

      <div class="btmRightBar">
        <div class="down bgWeHelpsEarth">
          <div class="learnMoreBtn1">
            &nbsp;<a href=
            "/web/20130219175554/http://kulayan.com/index.php?main_page=page&amp;id=19"><img alt="Learn More"
            border="0" height="25" src=
            "/static/images/buttons/learn_more.jpg"
            width="103"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="down">
      &nbsp;
    </div>

    <div class="down footer">
      <div class="footerData">
        <p>Copyright 2010 kulayan.com, All Right Reserved |
        <a href="/web/20130219175554/http://kulayan.com/index.php?main_page=page&amp;id=21">
        Privacy Policy</a></p>

        <p>Support: 1-888-495-9699 | <a href=
        "/web/20130219175554/http://kulayan.com/index.php?main_page=contact_us">
        Contact us</a></p>
      </div>
    </div>
  </div>

  <div id="lbOverlay" style="display: none;"></div>

  <div id="lbCenter" style="display: none;">
    <div id="lbImage">
      <div style="position: relative;">
        <a href="#" id="lbPrevLink"></a> <a href="#" id=
        "lbNextLink"></a>
      </div>
    </div>
  </div>

  <div id="lbBottomContainer" style="display: none;">
    <div id="lbBottom">
      <a href="#" id="lbCloseLink"></a>

      <div id="lbCaption"></div>

      <div id="lbNumber"></div>

      <div style="clear: both;"></div>
    </div>
  </div>

  {% block scripts %}
    <script src="/static/js/pages/product.js"></script>
  {% endblock %}
</body>
</html>


