<!--
<div class="proDescriptionContent">
	<div class="down">
		<div class="headingsGrey"><h1>My Cart</h1></div>

  </div>
	<div class="down mcGreyMiddleCorner">
		<div class="mcGreyLeftCorner">
			<div class="mcGreyRightCorner">
			  <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td width="30%" height="33" valign="top" class="prevHeadingMCPage">Preview</td>
          <td width="25%" valign="top" class="vline1MCPage">Product Info</td>
          <td width="13%" valign="top" class="vline1MCPage">Price</td>
          <td width="10%" valign="top" class="vline1MCPage">Qty.</td>
          <td width="12%" valign="top" class="vline1MCPage">Subtotal</td>
          <td width="10%" valign="top" class="vline3MCPage">Remove</td>
        </tr>
        </tbody></table>
			</div>
		</div>
	</div>
	<div class="down mclrBorder">
	<div class="down mcshade1">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody><tr>
        <td width="30%" valign="top" class="previewThumbMC" align="center"><a href="http://kulayan.com/index.php?main_page=product_info&amp;products_id=213:cdf5133cf611c263344f7b163265b400&amp;cPath=85_94"><span id="cartImage" class="back"><img src="images/amelie_thumb.jpg" alt="Organic Convertible Trench Coat in Sweatshirt Fleece" title=" Organic Convertible Trench Coat in Sweatshirt Fleece " width="80" height="150"></span></a></td>
        <td width="25%" valign="top" class="vline2MCPage">
			  <div class="down" align="left"><strong>
			  <a href="http://kulayan.com/index.php?main_page=product_info&amp;products_id=213:cdf5133cf611c263344f7b163265b400&amp;cPath=85_94">Organic Convertible Trench Coat in Sweatshirt Fleece<span class="alert bold"></span></a></strong></div>
        <div class="down"><input type="hidden" name="id[213:cdf5133cf611c263344f7b163265b400][2]" value="20"><input type="hidden" name="id[213:cdf5133cf611c263344f7b163265b400][1]" value="77">
<div class="down"><p align="left">Size&nbsp;:&nbsp;M</p></div>


<div class="down"><p align="left"><span style="float:left;"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="colorsProDes" style="background:#0D04B0; float:left; width:25px; height:19px; margin:2px 5px 3px 0px; display:block;"></span></p></div>

</div>
       </td>
        <td width="13%" valign="top" class="vline2MCPage">$140.00</td>
        <td width="10%" valign="top" class="vline2MCPage" align="center"><input type="text" name="cart_quantity[]" value="1" size="3"><br><span class="alert bold"></span><br><input type="image" src="includes/templates/template_default/buttons/english/button_update_cart.gif" alt="Change your quantity by highlighting the number in the box, correcting the quantity and clicking this button." title=" Change your quantity by highlighting the number in the box, correcting the quantity and clicking this button. "><input type="hidden" name="products_id[]" value="213:cdf5133cf611c263344f7b163265b400"></td>
        <td width="12%" valign="top" class="vline2MCPage">$140.00</td>
        <td width="10%" valign="top" class="vline4MCPage">       <a href="http://kulayan.com/index.php?main_page=shopping_cart&amp;action=remove_product&amp;product_id=213:cdf5133cf611c263344f7b163265b400"><img src="includes/templates/template_default/images/icons/small_delete.gif" alt="Delete this item from the cart by clicking this icon." title=" Delete this item from the cart by clicking this icon. " width="12" height="11"></a>
</td>
      </tr>
      </tbody></table>
		  								</div>
	<div class="down mcshade2 mcshade2Gap">&nbsp;</div>
		<div class="down">

			<div class="mcLeftInner">
				<div class="down"><p style="width:150px;"></p><div id="couponsdiv" style="color:#FF0033;"></div><p></p>
					<div class="discountTxt">

						<p>Have a Discount code?</p>
						<p>Please enter it here!</p>
					</div>
					<div class="inputAreaDisCode"><label><input type="text" name="dc_redeem_code" id="disc-ot_coupon" class="inputDisCode" value=""></label></div>
					<div class="enterBtnMC">

  <img src="/images/enter_btn.jpg" alt="Enter" />
					<input type="button" name="enter" value="" class="enter" onclick="check_coupon(dc_redeem_code.value)">
					</div>
				</div>
				<div class="down"><a href="http://kulayan.com/index.php?main_page=page&amp;id=20"><img src="includes/templates/classic//images/live_outside_the_us.jpg" width="244" height="41" border="0"></a></div>
		</div>

			<div class="mcRightInner">
			  <p><span>Sub Total :</span> $140.00</p>
			  										  <p><span>(-) Discount :</span> $0.00</p>

			  <p><span>Shipping :</span> FREE</p>
			  <p><span>Your Order Total :</span>
			  $140.00</p>
			</div>
		</div>
		<div class="down mcshade2">&nbsp;</div>
		<div class="myCartBtns"><a href="http://kulayan.com/index.php?main_page=checkout_shipping"><img src="includes/templates/template_default/buttons/english/button_checkout.gif" alt="Checkout" title=" Checkout " width="147" height="41" border="0"></a><a href="index.php?main_page=index&amp;cPath=85_94"><img src="includes/templates/classic/images/button_continue_shopping.gif" border="0"></a></div>
		<div class="down mcGreyMiddleCornerBtm">
			<div class="mcGreyLeftCornerBtm">
				<div class="mcGreyRightCornerBtm"><img src="includes/templates/classic//images/spacer.gif" alt="spacer"></div>
			</div>
		</div>
	</div>
	<div class="down">&nbsp;</div>
	<div class="down"><img src="includes/templates/classic//images/spacer.gif" alt="spacer" width="1" height="1"></div>


</div>
-->