{% extends "base.html" %}
{% block main %}
        <div class="down">
            <div class="bannerBgMiddle">
                <div class="bannerBgBtm">
                    <div class="bannerBgTop">
                    <div class="bannerPic">
                    <div id="gallery" style="z-index:0;">
                        <a href="#" style="opacity: 1;" class="show frame">
                            <img src="/static/images/banner2.jpg" alt="Seven Blooms2" rel="Banner2">
                        </a>
                    </div>
                    </div>
                    </div>
                </div>
            </div>

            <div class="down" align="center">
                <p class="home-text">Seven Blooms cares about our Earth and the people living here. That's why we use eco-friendly organic fabrics whenever possible. We believe that looking good goes hand in hand with feeling good, and bamboo jersey definitely feels good! But that's not all were doing! Here at Seven Blooms, we've initiated a program we like to call, "Choose Your Charity."</p>
                <p class="home-text">5% of every  purchase made on SevenBlooms.Com is donated to charity, and you have the option of choosing which one! With charities ranging from education to the environment, your shopping experience is going to be about more than just finding quality affordable fashion - It's about shopping for a cause. To learn more about our fabrics or charities, please click on the button below. Thanks for your support!</p>
            </div>
        </div>
{% endblock main %}
