
{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/vendor/multizoom.css" type="text/css"/>{% endblock %}
{% block main %}
<div ng-controller="ProductCtrl" class="product-page">
  <div class="bread-crumb"><a href="/shop/">Home</a><a href="((product.category.url))">((product.category.name))</a>((product.name))</div>
  <div class="product-images-container thumbs mainImage">
    <div class="product-main-image"><a href="((product.images.0.url))" id="anchor-medium" title="Ruffled Fitted Jacket Blazer with High Collar and Princess Cut" class="targetarea"><img id="mainImage" alt="((product.name))" title="((product.name))" src="((product.images.0.url))"/></a></div>
    <div ng-repeat="image in product.images" class="product-thumbnail main-image product-thumbnails thumbs productOtherImages"><a href="((image.url))" data-large="((image.url))" ng-attr-data-dims="(( getImageDims(image) ))"><img src="((image.url))"/></a></div>
  </div>
  <div class="product-details-container">
    <div class="product-title">
      <h1>((product.name))</h1><span id="productStory" class="active descTab">Description</span><span id="productDetails" class="descTab">Details</span><span class="price-container">$((product.price))</span>
    </div>
    <div id="infoTab" class="descContainer active">
      <div class="desDetailContent">((product.story))</div>
    </div>
    <div id="detailsTab" class="descContainer">
      <div class="desDetailContent">((product.details))</div>
    </div>
    <div class="product-choice-container">
      <div class="product-choice-inner">
        <div class="share-container"><a href="#" class="facebook-icon"></a><a href="#" class="twitter-icon"></a><a href="#" class="pinterest-icon"></a><a href="#" class="tumblr-icon"></a></div>
        <h3 class="choice-label">Choose a color</h3>
        <div ng-click="selectOption('color', color.code)" ng-repeat="color in product.colors" style="background-color: ((color.code));" class="color-option"></div>
        <h3 class="choice-label">Select your size</h3>
        <div ng-click="selectOption('size', stock.size_value)" ng-repeat="stock in product.stock_items" data-size="" class="size-option">((stock.size_value))</div>
        <div class="cart-container">
          <div ng-click="addToBag()" ng-class="( cartActive ? 'active' : '' )" class="add-to-cart">Add To Cart</div>
        </div>
      </div>
    </div>
    <div class="greyCornerLeft1">
      <div class="greyCornerRight1">
        <div class="autoLeft greyBoxIcons"><img border="0" src="/static/images/icons/charity_icon.jpg"/></div>
        <div class="autoLeft"><a style="vertical-align: bottom; cursor: pointer;">Choose Your Charity</a></div>
        <input id="chairity" type="hidden" value=""/>
        <div class="autoLeft greyBoxIcons"><a><img height="20" src="/static/images/icons/free_shipping_icon.jpg" width="20"/></a></div>
        <div class="autoLeft"><a href="">Shipping</a></div>
      </div>
    </div>
  </div>
  <div id="popupbox" class="modal">
    <!--
    <Start>login box</Start>
    -->
    <div id="pop_box">
      <div class="top_pop">
        <div class="bottom_pop">
          <p>Enter email address to be notified when we finish the next one</p>
          <div class="pop_left">
            <p>Email :</p>
          </div>
          <div class="pop_right">
            <input name="productId" type="hidden" value="((product.id}}"/>
            <p>
              <input id="email" name="email" size="25"/>
            </p>
            <p>
              <input name="submit" type="button" value="Send" class="send"/>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popupbox1" class="modal">
    <!--
    <Start>login box</Start>
    -->
    <div id="pop_box">
      <input name="productId2" type="hidden" value="212"/>
      <p>Enter email address to be notified when we finish the next one</p>
      <div class="pop_left">
        <p>Your Name:</p>
        <p>Your Email:</p>
        <p>Friends Name:</p>
        <p>Friends Email :</p>
      </div>
      <div class="pop_right">
        <p>
          <input id="yname" name="yname" size="25"/>
        </p>
        <p>
          <input id="email2" name="email2" size="25"/>
        </p>
        <p>
          <input id="fname" name="fname" size="25"/>
        </p>
        <p>
          <input id="email3" name="email3" size="25"/>
        </p>
        <p>
          <input name="submit" type="button" value="Send" class="send"/>
        </p>
      </div>
    </div>
  </div>
  <div id="popupbox2" class="modal">
    <!--
    <Start>login box</Start>
    -->
    <div id="pop_box">
      <div class="bottom_pop1">
        <p style="text-align: justify;">
          In addition to trying to be socially responsible through the fabrics we use,
          Seven Blooms has initiated the "Choose Your Charity" program. At the end of the
          check-out process, all customers will be able to choose a charity and we'll
          donate 5% of the profit on the purchase. With 5 charities available, we're
          hopeful that these small donations will lead to big changes in our community! Please<a style="color: #669933;" target="_blank">click here</a>if you'd like more
          information on our current charities. If you are interested in applying to be
          charity of the month, please contact us!
        </p>
      </div>
    </div>
  </div>
</div>{% endblock main %}
{% block scripts %}
<script>
  product = {{productJSON|safe|default:'{}'}};
  bag = {{bag|safe|default:'{}'}};
</script>
<script type="text/javascript" src="/static/js/vendor/multizoom.js"></script>
<script src="/static/js/controllers/product.js"></script>{% endblock %}